dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.jsexe
*.js_hi
*.js_o
*~
tags
TAGS
result
*.log
.DS_Store

# haskell-overlays/

# Hide any files in hack-on/off quasi-submodules
# haskell-overlays/reflex-packages/dep/nixpkgs/*
# !nixpkgs/default.nix
# !nixpkgs/github.json
# haskell-overlays/reflex-packages/dep/reflex/*
# !haskell-overlays/reflex-packages/dep/reflex/default.nix
# !reflex/github.json
# haskell-overlays/reflex-packages/dep/jsaddle/*
# !jsaddle/default.nix
# !jsaddle/github.json
# haskell-overlays/reflex-packages/dep/jsaddle-dom/*
# !jsaddle-dom/default.nix
# !jsaddle-dom/github.json
# haskell-overlays/reflex-packages/dep/ghcjs-dom/*
# !ghcjs-dom/default.nix
# !ghcjs-dom/github.json
# haskell-overlays/reflex-packages/dep/reflex-dom/*
# !reflex-dom/default.nix
# !reflex-dom/github.json
# haskell-overlays/reflex-packages/dep/reflex-todomvc/*
# !reflex-todomvc/default.nix
# !reflex-todomvc/github.json

/dist-newstyle/
